body {
background-color: grey;
}

.menuButton {
    display: inline-block;
    box-sizing: border-box;
    max-width: 100%;
    background-color:white;
    position: fixed;

    
}

.menuButton_main {
    size: 12px
}
.mainButton {
background-color: red;
border: 0ch;
color: white;
font-size: 40px;
}